<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clientura_pro.Properties.Settings.Clientura_pro_dbConnectionString"
            connectionString="Data Source=DESKTOP-GN0RD22;Initial Catalog=Clientura_pro_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>